<nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
              <a routerLink="/aboutus">About Us</a>
          </li>
          <li>
              <a routerLink="/download">Downloads</a>
          </li>
          <li>
              <a routerLink="/products">Products</a>
          </li>
          <li>
              <a routerLink="/contactus">Contact Us</a>
          </li>
          <li>
              <a routerLink="/login">Login</a>
          </li>
        
        </ul>
        {{welcomeMessage}}
</nav>

<router-outlet></router-outlet>
