<nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
              <a routerLink="/aboutus">About Us</a>
          </li>
          <li>
              <a routerLink="/download">Downloads</a>
          </li>
          <li>
              <a routerLink="/products">Products</a>
          </li>
          <li>
              <a routerLink="/contactus">Contact Us</a>
          </li>
          <li>
              <a routerLink="/login">Login</a>
          </li>
        </ul>
</nav>
<router-outlet></router-outlet>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SignIn</title>
</head>

<body >

  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row">
        <h2>{{message3}}</h2>
        <h3>Change Password</h3>
      </div>
      <form #myForm="ngForm" (ngSubmit)="GetPassword(myForm)">
        <div class="row">
          <div class="form-group">
            <label>Old Password :</label>
            <input ngModel type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Enter old password" />
          </div>
          <h3 style="color: red;">{{message1}}</h3>
        </div>

        <div class="row">
          <div class="form-group">
            <label>New Password :</label>
            <input ngModel type="password" name="newPassword" id="newPassword" class="form-control"
              placeholder="Enter New Password" />
          </div>
          <h3 style="color: red;">{{message4}}</h3>
        </div>

        <div class="row">
            <div class="form-group">
              <label>Confirm Password :</label>
              <input ngModel type="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control"
                placeholder="Confirm New Password" />
            </div>
            <h3 style="color: red;">{{message2}}</h3>
          </div>

        <div class="row">
            <input type="submit" name="changePassword" class="btn btn-primary" value="Save" id="btnsubmit" />
            &nbsp;
            <input type="button" (click)="GoToHome()" name="cancel" class="btn btn-danger" value="Cancel" id="btncancel" />
            
            <h2 style="color: red;">{{message3}}</h2>
        </div>
        
      </form>
    </div>
  </div>
</body>

</html>
